.contacts__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}
.contacts {
  margin: 30px 20px;
}
.contacts__title {
  font-size: 36px;
  text-align: center;
}

.contact__element {
  background: #1d1d1d;
  width: 30%;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #4b3f3f;
}
.contact__element:hover {
  background: #282828;
}
.contact__img {
  padding: 30px;
}
.contact__item {
  font-size: 30px;
  padding: 30px;
  font-weight: 700;
  opacity: 0.5;
}
.contacts__contact {
  font-size: 30px;
  padding: 30px;
}
