/*#fbe0d7*/
.photo-grid {
}
.photo-grid__wrap {
  position: relative;
}
.photo-grid__text {
  position: absolute;
  top: 25%;
  left: 20%;
  text-align: center;
  width: 70%;
}
.photo-grid__img {
  width: 100%;
  opacity: 0.45;
}

/*.photo-grid__h1,*/
.photo-grid__h2 {
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7bfffd, #fff0fa);
}
