/*#fbe0d7*/
.photo-grid {
}
.photo-grid__wrap {
  position: relative;
}
.photo-grid__text {
  position: absolute;
  top: 25%;
  left: 18%;
  text-align: center;
  width: 70%;
  font-family: "Playfair Display", serif;
}
.photo-grid__img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  opacity: 0.45;
}

/*.photo-grid__h1,*/
.photo-grid__h2 {
  font-size: 72px;
  font-family: "BenchNine", sans-serif;
  font-weight: 800;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7bfffd, #fff0fa);
}

@media screen and (max-width: 1070px) {
  .photo-grid__h2 {
    font-size: 58px;
  }
}

@media screen and (max-width: 680px) {
  .photo-grid__h2 {
    font-size: 46px;
  }
}

@media screen and (max-width: 470px) {
  .photo-grid__h2 {
    font-size: 36px;
  }
  .photo-grid__text {
    width: 90vw;
    top: 30%;
    left: 5%;
  }
}
