@import url('./blocks/header/header.css');
@import url('./blocks/photo-grid/photo-grid.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
    color:white;
    background: black;
}