.header {
  background-color: black;
  box-sizing: border-box;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
  height: 70px;
  font-size: 24px;
  box-sizing: border-box;
}

.menu {
  display: flex;
}

.header__par {
  margin-left: 30px;
  opacity: 0.6;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.header__par:hover {
  opacity: 1;
}

.header__contact {
  border: 1px solid #909044;
  padding: 10px;
  color: #fefe5c;
  transition: ease-in-out 0.3s;

  cursor: pointer;
}

.header__contact:hover {
  border: 1px solid #fbfb01;
}

.header__logo {
  cursor: pointer;
}
