.about__img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__wrap {
  background: #1d1d1d;
  margin-left: 20px;
  width: 45%;
  display: flex;
  padding: 10px;
}
.about__title {
  font-size: 42px;
  text-align: center;
}
.about {
  margin: 30px 0 0;
}
.about__text {
  color: white;
  text-align: center;
  font-size: 18px;
  padding-left: 5px;
}
.about__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__wrap-prices {
  color: black;
  text-align: center;
  font-size: 30px;
}
