.examples {
  margin-top: 50px;
}

.examples__title {
  font-size: 54px;
  text-align: center;
  background: none;
}

.examples__proj-title {
  text-align: center;
  padding-top: 10px;
  font-size: 32px;
}

.examples__block {
  background-color: black;
}

.activeBL {
  display: flex;
  flex-direction: column;
}

.examples__proj-subtitle {
  text-align: center;
  margin-top: 10px;
}

.examples__text {
  text-align: center;
  margin: 20px 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
}

.flex-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  max-width: 1000px;
  width: 100%;

  position: relative;
}

.btn-prev,
.btn-next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: gray;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.btn-prev:hover,
.btn-next:hover {
  opacity: 0.6;
}
.btn-next {
  left: auto;
  right: 0;
}
.slide {
  width: 100%;
  height: 75vh;
  display: none;
}

.slide.active {
  display: block;
}

.examples__img {
  width: 100%;
  height: inherit;
}

.dots-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.dot.active {
  background-color: white;
}

span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
  cursor: pointer;
}

span:last-child {
  margin-right: 0;
}
