@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 98vw;
  margin: 0 auto;
  height: 100vh;
  margin-top: 30px;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.sidebar > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.sidebar h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.up-button,
.down-button {
  background-color: white;
  border: none;

  cursor: pointer;
}
.btnimg {
  width: 30px;
  padding-top: 5px;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
}
.second {
  transform: rotate(-180deg);
  padding-top: 0;
  padding-bottom: 5px;
}

.up-button,
.down-button:focus {
  outline: none;
}

.up-button,
.down-button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .controls .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .controls .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 1000px) {
  .examples__proj-title {
    font-size: 22px;
  }
  .examples__text {
    font-size: 14px;
    line-height: 18px;
  }
  .examples__block {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .container {
  }
  .examples__proj-title {
    font-size: 30px;
  }
  .examples__text {
    font-size: 14px;
    line-height: 18px;
  }
  .controls {
    position: relative;
    top: 30%;
  }
  .sidebar {
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    color: white;
    overflow: hidden;
    align-items: center;
  }
  .sidebar div {
    width: 100%;
    height: 100%;
    display: none;
  }

  .main-slide {
    position: absolute;
    top: 30%;
    display: flex;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  .examples__block {
    height: auto;
    width: 100%;
    display: none;
  }

  .sidebar h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .activeHor {
    display: block;
  }
  .slide {
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .controls {
    position: relative;
    top: 40%;
  }
  .main-slide {
    height: 60%;
    top: 40%;
  }

  .sidebar {
    max-height: 40%;
  }
}
@media screen and (max-width: 490px) {
  .container {
  }
  .examples__proj-title {
    font-size: 18px;
  }
  .examples__text {
    font-size: 12px;
  }
}
/*
@media screen and (max-width: 420px) {
  .examples__proj-title {
    font-size: 18px;
  }
  .examples__text {
    font-size: 10px;
    line-height: 14px;
  }
}
*/
